@using CoffeeShop.Models;
@using CoffeeShop.ViewModel;
@model AdminMenusSectionViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Einstein Kaffee - Modify Menu</title>
</head>
<body>
    @Html.Partial("NavigationBar")
    <center>
        @using (Html.BeginForm("SubmitMenuModification", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Menu.Id)
            <table cellpadding="0" cellspacing="5">
                <tr>
                    <th colspan="2" align="center">Modify Menu</th>
                </tr>
                <tr>
                    <td>Name: </td>
                    <td>
                        @Html.TextBoxFor(m => m.Menu.Name)
                    </td>
                </tr>
                <tr>
                    <td>Category: </td>
                    <td>
                        @Html.DropDownListFor(m => m.Menu.Category, new SelectList(Enum.GetValues(typeof(MenuCategory))), "Select an Option")
                    </td>
                </tr>
                <tr>
                    <td>Location: </td>
                    <td>
                        @Html.DropDownListFor(m => m.Menu.Location, new SelectList(Enum.GetValues(typeof(Location))), "Select an Option")
                    </td>
                </tr>
                <tr>
                    <td>Time: </td>
                    <td>
                        @Html.TextBoxFor(m => m.Menu.Time)
                    </td>
                </tr>
                <tr>
                    <td>Currently Listed? </td>
                    <td>
                        @if (Model.Menu.Listed == true)
                        {
                            @Html.CheckBoxFor(m => m.Menu.Listed, new { disabled = "disabled" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => m.Menu.Listed)
                        }
                    </td>
                </tr>
                @for (int i = 0; i < Model.All_products.Count; i++)
                {
                    bool isChecked = false;
                    <tr>
                        <td>@Model.All_products[i].Name </td>
                        <td>
                            @for (int j = 0; j < Model.Current_products.Count; j++)
                            {
                                if (Model.All_products[i] == Model.Current_products[j])
                                {
                                    isChecked = true;
                                }
                            }
                            @if (isChecked)
                            {
                                @Html.CheckBox(name: @Model.All_products[i].Id.ToString(), isChecked: true);
                            }
                            else
                            {
                                @Html.CheckBox(name: @Model.All_products[i].Id.ToString(), isChecked: false);
                            }

                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td><input type="submit" value="Save Changes" /></td>
                </tr>
            </table>
            if (@ViewBag.Message != null)
            {
                <div id="popupdiv" style="border: 1px solid red;">
                    @ViewBag.Message
                </div>
            }

            if (@TempData["Message"] != null)
            {
                <center>
                    <div id="popupdiv" style="border: 1px solid green;">
                        @TempData["Message"].ToString()
                    </div>
                </center>

            }
        }
        }
    </center>
</body>
</html>
