@model CoffeeShop.Models.Users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Einstein Kaffee - My Account</title>
</head>
<body>
    <center>
        @Html.Partial("NavigationBar")
        <h1 style="text-align: center;"><strong>Account Dashboard</strong></h1>
        <p>Full Name: @Model.FirstName @Model.LastName</p>
        <p>Account Type: @Model.Role</p>
        <p>Username: @Model.Username</p>
        <p>Email: @Model.Email</p>
        <p>
            VIP Status:
            @if (Model.VIP == true)
            {
                <strong style="color:forestgreen">Active</strong>
            }
            else
            {
                <strong style="color:orangered">Not Active</strong>
            }
        </p>
        <p>
            @if (Model.VIPNumber != -1)
            {
                @:VIP Card Number: @Model.VIPNumber
            }
        </p>
    </center>
</body>
</html>
