@using CoffeeShop.Models
@model CoffeeShop.ViewModel.MakeOrderViewModel

@{
    Layout = null;
}

@functions{
    public String ValidateProducts(Products product)
    {
        if (Model.LoggedInUser.Age < 18 && product.AgeLimited == true)
            return "(Restricted By Age)";

        if (product.Availability == false)
            return "(Currently Unavailable)";

        return "Validated";
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderStep5</title>
</head>
<body>
    <div>
        @{bool empty_category;}
        <h1 style="text-align: center;">@Model.SelectedMenu.Name's Menu</h1>
        <center>
            <table style="border-collapse: collapse; width: 500px; height: 136px;" border="1">
                <tbody>
                    <tr style="height: 10px;">
                        <td style="width: 7.55208%; text-align: center; height: 10px;">&nbsp;</td>
                        <td style="width: 92.4479%; text-align: center; height: 10px;">
                            <h3>Drinks</h3>
                        </td>
                    </tr>
                    @{empty_category = true;}
                    @for (int i = 0; i < Model.AvailableProducts.Count; i++)
                    {
                        if (Model.AvailableProducts[i].Category.CompareTo("Drinks") == 0)
                        {
                            empty_category = false;
                            String validation_response = ValidateProducts(Model.AvailableProducts[i]);
                            if (validation_response.CompareTo("Validated") == 0)
                            {
                                <tr style="height: 18px;">
                                    <td style="width: 7.55208%; text-align: center; height: 18px;">
                                        @Html.CheckBox(Model.AvailableProducts[i].Id.ToString())
                                    </td>
                                    <td style="width: 92.4479%; text-align: center; height: 18px;">
                                        @Model.AvailableProducts[i].Name
                                    </td>
                                </tr>
                            }
                            else
                            {
                                empty_category = false;
                                <tr style="height: 18px;">
                                    <td style="width: 7.55208%; text-align: center; height: 18px;">
                                        @Html.CheckBox(Model.AvailableProducts[i].Id.ToString(), new { @disabled = "disabled" })
                                    </td>
                                    <td style="width: 92.4479%; text-align: center; height: 18px;">
                                        @Model.AvailableProducts[i].Name <strong style="color:orangered">@validation_response</strong>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    @if (empty_category)
                    {
                        <tr style="height: 18px;">
                            <td style="width: 7.55208%; text-align: center; height: 18px;"></td>
                            <td style="width: 92.4479%; text-align: center; height: 18px;">
                                Sorry, No products in this category...
                            </td>
                        </tr>
                    }

                    <tr style="height: 18px;">
                        <td style="width: 7.55208%; text-align: center; height: 18px;">&nbsp;</td>
                        <td style="width: 92.4479%; text-align: center; height: 18px;">
                            <h3>Meals</h3>
                        </td>
                    </tr>
                    @{empty_category = true;}
                    @for (int i = 0; i < Model.AvailableProducts.Count; i++)
                    {
                        if (Model.AvailableProducts[i].Category.CompareTo("Meals") == 0)
                        {
                            empty_category = false;
                            String validation_response = ValidateProducts(Model.AvailableProducts[i]);
                            if (validation_response.CompareTo("Validated") == 0)
                            {
                                <tr style="height: 18px;">
                                    <td style="width: 7.55208%; text-align: center; height: 18px;">
                                        @Html.CheckBox(Model.AvailableProducts[i].Id.ToString())
                                    </td>
                                    <td style="width: 92.4479%; text-align: center; height: 18px;">
                                        @Model.AvailableProducts[i].Name
                                    </td>
                                </tr>
                            }
                            else
                            {
                                empty_category = false;
                                <tr style="height: 18px;">
                                    <td style="width: 7.55208%; text-align: center; height: 18px;">
                                        @Html.CheckBox(Model.AvailableProducts[i].Id.ToString(), new { @disabled = "disabled" })
                                    </td>
                                    <td style="width: 92.4479%; text-align: center; height: 18px;">
                                        @Model.AvailableProducts[i].Name <strong style="color:orangered">@validation_response</strong>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    @if (empty_category)
                    {
                        <tr style="height: 18px;">
                            <td style="width: 7.55208%; text-align: center; height: 18px;"></td>
                            <td style="width: 92.4479%; text-align: center; height: 18px;">
                                Sorry, No products in this category...
                            </td>
                        </tr>
                    }
                    <tr style="height: 18px;">
                        <td style="width: 7.55208%; text-align: center; height: 18px;">&nbsp;</td>
                        <td style="width: 92.4479%; text-align: center; height: 18px;">
                            <h3>Alcohol</h3>
                        </td>
                    </tr>
                    @{empty_category = true;}
                    @for (int i = 0; i < Model.AvailableProducts.Count; i++)
                    {
                        if (Model.AvailableProducts[i].Category.CompareTo("Alcohol") == 0)
                        {
                            empty_category = false;
                            String validation_response = ValidateProducts(Model.AvailableProducts[i]);
                            if (validation_response.CompareTo("Validated") == 0)
                            {
                                <tr style="height: 18px;">
                                    <td style="width: 7.55208%; text-align: center; height: 18px;">
                                        @Html.CheckBox(Model.AvailableProducts[i].Id.ToString())
                                    </td>
                                    <td style="width: 92.4479%; text-align: center; height: 18px;">
                                        @Model.AvailableProducts[i].Name
                                    </td>
                                </tr>
                            }
                            else
                            {
                                empty_category = false;
                                <tr style="height: 18px;">
                                    <td style="width: 7.55208%; text-align: center; height: 18px;">
                                        @Html.CheckBox(Model.AvailableProducts[i].Id.ToString(), new { @disabled = "disabled" })
                                    </td>
                                    <td style="width: 92.4479%; text-align: center; height: 18px;">
                                        @Model.AvailableProducts[i].Name <strong style="color:orangered">@validation_response</strong>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    @if (empty_category)
                    {
                        <tr style="height: 18px;">
                            <td style="width: 7.55208%; text-align: center; height: 18px;"></td>
                            <td style="width: 92.4479%; text-align: center; height: 18px;">
                                Sorry, No products in this category...
                            </td>
                        </tr>
                    }
                    <tr style="height: 18px;">
                        <td style="width: 7.55208%; text-align: center; height: 18px;">&nbsp;</td>
                        <td style="width: 92.4479%; text-align: center; height: 18px;">
                            <h3>Specials</h3>
                        </td>
                    </tr>
                    @{empty_category = true;}
                    @for (int i = 0; i < Model.AvailableProducts.Count; i++)
                    {
                        if (Model.AvailableProducts[i].Category.CompareTo("Specials") == 0)
                        {
                            empty_category = false;
                            String validation_response = ValidateProducts(Model.AvailableProducts[i]);
                            if (validation_response.CompareTo("Validated") == 0)
                            {
                                <tr style="height: 18px;">
                                    <td style="width: 7.55208%; text-align: center; height: 18px;">
                                        @Html.CheckBox(Model.AvailableProducts[i].Id.ToString())
                                    </td>
                                    <td style="width: 92.4479%; text-align: center; height: 18px;">
                                        @Model.AvailableProducts[i].Name
                                    </td>
                                </tr>
                            }
                            else
                            {
                                empty_category = false;
                                <tr style="height: 18px;">
                                    <td style="width: 7.55208%; text-align: center; height: 18px;">
                                        @Html.CheckBox(Model.AvailableProducts[i].Id.ToString(), new { @disabled = "disabled" })
                                    </td>
                                    <td style="width: 92.4479%; text-align: center; height: 18px;">
                                        @Model.AvailableProducts[i].Name <strong style="color:orangered">@validation_response</strong>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    @if (empty_category)
                    {
                        <tr style="height: 18px;">
                            <td style="width: 7.55208%; text-align: center; height: 18px;"></td>
                            <td style="width: 92.4479%; text-align: center; height: 18px;">
                                Sorry, No products in this category...
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <center>
                <p><input type="button" value="Go Back" onclick="location.href='@Url.Action("OrderStepBack", "Home", Model)'" /> <input type="submit" value="Next" /></p>
            </center>
        </center>
    </div>
</body>
</html>
