@model CoffeeShop.ViewModel.MakeOrderViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderStep1</title>
</head>
<body>
    @Html.Partial("NavigationBar")
    @using (Html.BeginForm("SubmitOrderStep1", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.CurrentDate)
        @Html.HiddenFor(m => m.OrderTimeInterval)
        <div>
            <h1 style="text-align: center;">Where Would You Like To Seat?</h1>
            <center>
                <table style="height: 18px; width: 250px;" border="0">
                    <tbody>
                        <tr style="height: 18px;">
                            <td style="width: 20%; text-align: right; height: 18px;">@Html.RadioButtonFor(m => m.Location, "Inside")</td>
                            <td style="width: 20%; text-align: left; height: 18px;">Inside</td>
                        </tr>
                        <tr style="height: 18px;">
                            <td style="width: 20%; text-align: right; height: 18px;">@Html.RadioButtonFor(m => m.Location, "Balcony")</td>
                            <td style="width: 20%; text-align: left; height: 18px;">Balcony</td>
                        </tr>
                        <tr style="height: 18px;">
                            <td style="width: 20%; text-align: right; height: 18px;">@Html.RadioButtonFor(m => m.Location, "ALL_SEATS")</td>
                            <td style="width: 20%; text-align: left; height: 18px;">Skip (Everywhere)</td>

                        </tr>
                    </tbody>
                </table>
                <center>
                    @{TempData["OrderData"] = Model; }
                    <p><input type="button" value="Go Back" onclick="location.href='@Url.Action("OrderStepBack", "Home", Model)'" /> <input type="submit" value="Next" /></p>
                </center>
            </center>
        </div>
    }
    @if (@ViewBag.Message != null)
    {
        <center>
            <div id="popupdiv" style="border: 1px solid red;">
                @ViewBag.Message
            </div>
        </center>
    }
</body>
</html>
