@model CoffeeShop.ViewModel.MakeOrderViewModel
@using CoffeeShop.Models

@{
    Layout = null;
}

@functions {
    private Boolean isTableTaken(int col)
    {
        if (col == 1)
        {
            for (int i = 0; i < Model.AvailableSeats.Count; i++)
                if (Model.AvailableSeats[i].Col1 == true)
                    return true;
        }
        if (col == 2)
        {
            for (int i = 0; i < Model.AvailableSeats.Count; i++)
                if (Model.AvailableSeats[i].Col2 == true)
                    return true;
        }
        if (col == 3)
        {
            for (int i = 0; i < Model.AvailableSeats.Count; i++)
                if (Model.AvailableSeats[i].Col3 == true)
                    return true;
        }
        if (col == 4)
        {
            for (int i = 0; i < Model.AvailableSeats.Count; i++)
                if (Model.AvailableSeats[i].Col4 == true)
                    return true;
        }
        if (col == 5)
        {
            for (int i = 0; i < Model.AvailableSeats.Count; i++)
                if (Model.AvailableSeats[i].Col5 == true)
                    return true;
        }

        return false;
    }
    private Boolean isAvailableToday(int Table)
    {
        String today_name = System.DateTime.Now.DayOfWeek.ToString();

        if (today_name.CompareTo("Sunday") == 0)
            if (Model.TablesAvailability.vmTablesAvailability[Table -1].Sunday == false)
                return false;
        if (today_name.CompareTo("Monday") == 0)
            if (Model.TablesAvailability.vmTablesAvailability[Table - 1].Monday == false)
                return false;
        if (today_name.CompareTo("Tuesday") == 0)
            if (Model.TablesAvailability.vmTablesAvailability[Table - 1].Tuesday == false)
                return false;
        if (today_name.CompareTo("Wednesday") == 0)
            if (Model.TablesAvailability.vmTablesAvailability[Table - 1].Wednesday == false)
                return false;
        if (today_name.CompareTo("Thursday") == 0)
            if (Model.TablesAvailability.vmTablesAvailability[Table - 1].Thursday == false)
                return false;
        if (today_name.CompareTo("Friday") == 0)
            if (Model.TablesAvailability.vmTablesAvailability[Table - 1].Friday == false)
                return false;
        if (today_name.CompareTo("Saturday") == 0)
            if (Model.TablesAvailability.vmTablesAvailability[Table - 1].Saturday == false)
                return false;

        return true;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Einstein Kaffee - OrderStep 6</title>
</head>
<body>
    @Html.Partial("NavigationBar")
    <div>
        @using (Html.BeginForm("SubmitOrderStep6", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.CurrentDate)
            @Html.HiddenFor(m => m.Location)
            @Html.HiddenFor(m => m.Category)
            @Html.HiddenFor(m => m.TotalOrder)
            @Html.HiddenFor(m => m.OrderTimeInterval)
            TempData["AvailableMenus"] = Model.AvailableMenus;
            TempData["AvailableProducts"] = Model.AvailableProducts;
            TempData["MaxPricePerProduct"] = Model.MaxPricePerProduct;
            TempData["LoggedInUser"] = Model.LoggedInUser;
            TempData["SelectedMenu"] = Model.SelectedMenu;
            TempData["SelectedProducts"] = Model.SelectedProducts;
            TempData["AvailableSeats"] = Model.AvailableSeats;

            <h1 style="text-align: center;">Choose Seats</h1>
            <h2 style="text-align: center;">Total Order: @Model.TotalOrder ILS</h2>
            <table style="border-collapse: collapse; width: 100%; height: 108px;" border="1">
                <tbody>
                    <tr style="height: 18px;">
                        <td style="width: 16.6667%; text-align: center; height: 18px;"></td>
                        <td style="width: 16.6667%; text-align: center; height: 18px;">
                            @if (!isAvailableToday(1))
                            {
                                @:Inside Table #1 <strong style="color:orangered">(Not Availalbe Today)</strong>
                            }
                            else
                            {
                                if (isTableTaken(1))
                                {
                                    @:Inside Table #1 <strong style="color:orangered">(Taken)</strong>
                                }
                                else
                                {
                                    @:Inside Table #1
                                }
                            }
                        </td>
                        <td style="width: 16.6667%; text-align: center; height: 18px;">
                            @if (!isAvailableToday(2))
                            {
                                @:Inside Table #2 <strong style="color:orangered">(Not Availalbe Today)</strong>
                            }
                            else
                            {
                                if (isTableTaken(2))
                                {
                                    @:Inside Table #2 <strong style="color:orangered">(Taken)</strong>
                                }
                                else
                                {
                                    @:Inside Table #2
                                }
                            }
                        </td>
                        <td style="width: 16.6667%; text-align: center; height: 18px;">
                            @if (!isAvailableToday(3))
                            {
                                @:Inside Table #3 <strong style="color:orangered">(Not Availalbe Today)</strong>
                            }
                            else
                            {
                                if (isTableTaken(3))
                                {
                                    @:Inside Table #3 <strong style="color:orangered">(Taken)</strong>
                                }
                                else
                                {
                                    @:Inside Table #3
                                }
                            }
                        </td>
                        <td style="width: 16.6667%; text-align: center; height: 18px;">
                            @if (!isAvailableToday(4))
                            {
                                @:Inside Table #4 <strong style="color:orangered">(Not Availalbe Today)</strong>
                            }
                            else
                            {
                                if (isTableTaken(4))
                                {
                                    @:Inside Table #4 <strong style="color:orangered">(Taken)</strong>
                                }
                                else
                                {
                                    @:Inside Table #4
                                }
                            }
                        </td>
                        <td style="width: 16.6667%; text-align: center; height: 18px;">
                            @if (!isAvailableToday(5))
                            {
                                @:Balcony Table #5 <strong style="color:orangered">(Not Availalbe Today)</strong>
                            }
                            else
                            {
                                if (isTableTaken(5))
                                {
                                    @:Balcony Table #5 <strong style="color:orangered">(Taken)</strong>
                                }
                                else
                                {
                                    @:Balcony Table #5
                                }
                            }
                        </td>
                    </tr>
                    @{int count_row = 1; }

                    @for (int i = 0; i < Model.AvailableSeats.Count; i++)
                    {
                        @Html.HiddenFor(m => m.AvailableSeats[i].Id)
                        <tr style="height: 18px;">
                            <td style="width: 16.6667%; text-align: center; height: 18px;">Chair #@count_row</td>
                            <td style="width: 16.6667%; text-align: center; height: 18px;">
                                @if (isTableTaken(1) || !isAvailableToday(1))
                                {
                                    @Html.CheckBoxFor(m => m.AvailableSeats[i].Col1, new { @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(m => m.AvailableSeats[i].Col1)
                                }
                            </td>
                            <td style="width: 16.6667%; text-align: center; height: 18px;">
                                @if (isTableTaken(2) || !isAvailableToday(2))
                                {
                                    @Html.CheckBoxFor(m => m.AvailableSeats[i].Col2, new { @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(m => m.AvailableSeats[i].Col2)
                                }
                            </td>
                            <td style="width: 16.6667%; text-align: center; height: 18px;">
                                @if (isTableTaken(3) || !isAvailableToday(3))
                                {
                                    @Html.CheckBoxFor(m => m.AvailableSeats[i].Col3, new { @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(m => m.AvailableSeats[i].Col3)
                                }
                            </td>
                            <td style="width: 16.6667%; text-align: center; height: 18px;">
                                @if (isTableTaken(4) || !isAvailableToday(4))
                                {
                                    @Html.CheckBoxFor(m => m.AvailableSeats[i].Col4, new { @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(m => m.AvailableSeats[i].Col4)
                                }
                            </td>
                            <td style="width: 16.6667%; text-align: center; height: 18px;">
                                @if (isTableTaken(5) || !isAvailableToday(5))
                                {
                                    @Html.CheckBoxFor(m => m.AvailableSeats[i].Col5, new { @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(m => m.AvailableSeats[i].Col5)
                                }
                            </td>
                        </tr>
                        count_row++;
                    }
                </tbody>
            </table>
            TempData["OrderData"] = Model;
            <center><p><input type="button" value="Go Back" onclick="location.href='@Url.Action("OrderStepBack", "Home", Model)'" /> <input type="submit" value="Reserve Seats" /></p></center>

            if (@TempData["Message"] != null)
            {
                <center>
                    <div id="popupdiv" style="border: 1px solid green;">
                        @TempData["Message"].ToString()
                    </div>
                </center>
            }
        }
    </div>
</body>
</html>
