@model CoffeeShop.Models.Orders
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            $("input[name$='SelectedPayment']").click(function () {
                var test = $(this).val();
                console.log(this.id);
                if (this.id != "Paypal") {
                    $("div.ShowButton").hide();
                    $("div.NextButton").show();
                }
                else {
                    $("div.ShowButton").show();
                    $("div.NextButton").hide();
                }

            });
        });
    </script>

    <title>Einstein Kaffee - OrderStep 8</title>
</head>
<body>
    @Html.Partial("NavigationBar")
    @using (Html.BeginForm("SubmitOrderStep8", "Home", FormMethod.Post))
    {
        <div>
            <h1 style="text-align: center;">How Would You Like To Pay?</h1>
            <center><h3 style="color:orangered">Total Due Amount: @Model.TotalOrder ILS</h3></center>
            <center>
                <table style="height: 18px; width: 250px;" border="0">
                    <tbody>
                        <tr style="height: 18px;">
                            <td style="width: 20%; text-align: right; height: 18px;">@Html.RadioButton("Cash", "1", new { id = "Cash", @Name = "SelectedPayment" })</td>
                            <td style="width: 20%; text-align: left; height: 18px;">Cash</td>
                        </tr>
                        <tr style="height: 18px;">
                            <td style="width: 20%; text-align: right; height: 18px;">@Html.RadioButton("CreditCard", "2", new { id = "CreditCard", @Name = "SelectedPayment" })</td>
                            <td style="width: 20%; text-align: left; height: 18px;">Credit Card</td>
                        </tr>
                        <tr style="height: 18px;">
                            <td style="width: 20%; text-align: right; height: 18px;">@Html.RadioButton("Paypal", "3", new { id = "Paypal", @Name = "SelectedPayment" })</td>
                            <td style="width: 20%; text-align: left; height: 18px;">
                                PayPal
                            </td>

                        </tr>
                    </tbody>
                </table>
                <center>
                    @{TempData["OrderData"] = Model;}
                    <div id="=PaypalButton" class="NextButton">
                        <p><input type="submit" value="Next" /></p>
                    </div>
                </center>
            </center>
        </div>
    }
    <center>
        <p/>
        <div id="PaypalSection">
            <div id="=PaypalButton" class="ShowButton" hidden="hidden">
                @{String return_url = "https://" + Request.Url.Host.ToString() + ":" + Request.Url.Port.ToString(); }
                <div id="paypal-button" style="width: 200px"></div>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                    <input id="id_business" name="business" type="hidden" value="sb-54cbl12122209@business.example.com" />
                    <input id="id_amount" name="amount" type="hidden" value="@Model.TotalOrder.ToString()" />
                    <input id="id_item_name" name="item_name" type="hidden" value="Order #@Model.TransactionId.ToString()" />
                    <input id="id_notify_url" name="notify_url" type="hidden" value="@return_url/Home/AuthorizePaypal/@Model.Id?result=pending" />
                    <input id="id_cancel_return" name="cancel_return" type="hidden" value="@return_url/Home/AuthorizePaypal/@Model.Id?result=failed" />
                    <input id="id_return_url" name="return" type="hidden" value="@return_url/Home/AuthorizePaypal/@Model.Id?result=success" />
                    <input id="id_custom" name="custom" type="hidden" value="16" />
                    <input id="id_cmd" name="cmd" type="hidden" value="_xclick" />
                    <input id="id_charset" name="charset" type="hidden" value="utf-8" />
                    <input id="id_currency_code" name="currency_code" type="hidden" value="ILS" />
                    <input id="id_no_shipping" name="no_shipping" type="hidden" value="1" />
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="Buy it Now" />
                </form>

            </div>
        </div>
    </center>
    @if (@ViewBag.Message != null)
    {
        <center>
            <div id="popupdiv" style="border: 1px solid red;">
                @ViewBag.Message
            </div>
        </center>
    }
</body>
</html>
