@using CoffeeShop.Models
@model CoffeeShop.ViewModel.MakeOrderViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Einstein Kaffee - OrderStep 2</title>
</head>
<body>
    @Html.Partial("NavigationBar")
    @using (Html.BeginForm("SubmitOrderStep2", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.CurrentDate)
        @Html.HiddenFor(m => m.Location)
        @Html.HiddenFor(m => m.OrderTimeInterval)
        <div>
            <h1 style="text-align: center;">Which Category Menu Do You Prefer?</h1>
            <center>
                <table style="height: 18px; width: 300px;" border="0">
                    <tbody>
                        @foreach (MenuCategory mc in Enum.GetValues(typeof(MenuCategory)))
                        {
                            <tr style="height: 18px;">
                                <td style="width: 10%; text-align: right; height: 18px; padding-left: 1px; ">
                                    @Html.RadioButtonFor(m => m.Category, mc.ToString())
                                </td>
                                <td style="width: 10%; text-align: left; height: 18px;  padding-left: 1px; ">
                                    @mc.ToString()
                                </td>
                            </tr>
                        }
                        <tr style="height: 18px;">
                            <td style="width: 10%; text-align: right; height: 18px; padding-left: 1px; ">
                                @Html.RadioButtonFor(m => m.Category, "ALL_CATEGORIES")
                            </td>
                            <td style="width: 10%; text-align: left; height: 18px;  padding-left: 1px; ">
                                Skip (All Categories)
                            </td>
                        </tr>
                    </tbody>
                </table>
                <center>
                    @{TempData["OrderData"] = Model; }
                    <p><input type="button" value="Go Back" onclick="location.href='@Url.Action("OrderStepBack", "Home", Model)'" /> <input type="submit" value="Next" /></p>
                </center>
            </center>
        </div>
    }
</body>
</html>
